@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html {
    scroll-behavior:smooth;
    background-image: url(imgs/backgroundcook.jpg);
    background-color: lightgray;
    background-blend-mode: lighten;

}

body {
    font-family: 'Raleway', sans-serif; font-size: 1em;
    margin: auto;
    /*margin-left: 30%;
    margin-right: 30%;*/
}

.menusucre {
    display: flex;                /* Transformation en flexbox */
    padding-bottom: 10px;                    /* Suppression des marges internes */
    justify-content: space-around;/* Alignements des liens dans le menu */
    position: sticky;
    font-weight: bold;
}

.button {
    font-family: 'Raleway', sans-serif; font-size: 1em;
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0.4rem;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #858585;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 2px solid rgb(0, 0, 0);       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}

.menusucre button:hover,
.menusucre button:hover.actif{
    background-color: black;
    color: #ffffff;
    border-color: #970000;
}

.menusale {
    display: flex;                /* Transformation en flexbox */
    padding-bottom: 10px;                    /* Suppression des marges internes */
    justify-content: space-around;/* Alignements des liens dans le menu */
    position: sticky;
    font-weight: bold;
}

.button2 {
    background-color: #8f0000;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    border: 2px solid rgb(0, 0, 0);       /* Ajout d'une bordure */
}

.menusale button:hover,
.menusale button:hover.actif{
    background-color: #690000;
    color: #d40303;
    border-color: #000000;
}


.recette {
    display: grid;
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    height: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    align-content: start;
    gap: 20px;
    background-color: #dbdbdb;
    border: 4px solid black;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    background-image: url(imgs/dessert2.png);
    background-attachment: fixed;
    text-shadow: 1px 1px rgba(0, 114, 28, 0.5);
    border-radius: 20px;

}

.plat {
    background-image: url(imgs/cuisine.png);
    text-shadow: 1px 1px rgba(255, 0, 0, 0.438);
}

.titre {
    font-family: 'Raleway', sans-serif; font-size: 2.5em; color: black; font-weight: bolder;
    /*grid-column: 1 / 1;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding: 20px;
    
}

.contenu {
    font-family: 'Raleway', sans-serif; font-size: 1em; color: black; font-weight: bold;
    text-align: justify;
    /*align-items: start;*/
    /*height: flex;*/
    width: auto;
    /*grid-column: 1 / 2;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    padding: 10px;
    padding-right: 50px;
    margin-bottom: auto;
}

.photo {
    display: block;
    grid-column: 2 / 2;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    width: 250px;
    height: 250px;
    margin-top: 35px;
    margin-bottom: auto;
    margin-right: 30px;
    /*border-radius: 5px;
    border: 5px solid rgb(107, 107, 107);*/

}

img.images {
    width : 250px;
    height : 250px;
    border-radius: 50%;
    border: 5px solid rgb(107, 107, 107);
    filter: drop-shadow(8px 10px 5px darkgrey);
    
}
