* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px;
    /*background: black;*/
        
}
a {
    color: white;
    text-decoration: none;
}
body {
    margin: auto;
}


/*#menumove {
    background: rgb(97, 97, 97);
    position: fixed;
    width: 100%;
    height: 50px;
    top: -50px;
    transition: 0.5s;
    transition-delay: 0.2s;
    padding: 0px;

}*/
/* #menufixe {
    display: flex;
    text-justify: center;
    text-align: center;
    justify-content: space-around;
    color: white;
    background: rgb(97, 97, 97);
    position: fixed;
    width: 100%;
    height: 50px;
   
} */
.recette {
    padding-bottom: 30px;
}
h2 {
    margin: 30px 0;
}
#menuprincipal {
    position: fixed;
    font-weight: bolder;
    display: flex;
    text-align: center;
    text-justify: center;
    justify-content: space-around;
    background: rgb(97, 97, 97);
    color: white;
    width: 100%;
    height: 80px;
    padding: 30px 0px;
    list-style: none;
    z-index: 3;
}
#sousmenu {
    background: rgb(97, 97, 97);
    width: 200px;
    text-align: center;
    text-justify: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
    padding-top: 20px;
    margin: 0px 0px;
    margin-left: -28px;
    display: none;
    list-style: none;
    position: fixed;
    z-index: 2;
}
#sousmenu2 {
    background: rgb(97, 97, 97);
    width: 200px;
    text-align: center;
    text-justify: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
    padding-top: 20px;
    margin: 0px 0px;
    margin-left: -28px;
    display: none;
    list-style: none;
    position: fixed;
    z-index: 2;
}
#sale:hover #sousmenu2 {
    display:block;
}

#sucre:hover #sousmenu{
    display: block;
}
#sousmenu:hover {
    display: block;
}
#menufixe .logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    max-width: 9%;
    max-height: 9%;
}